.thumbnail{
    width: 100%;
   
    display:block;
    object-fit: cover;
    object-position:middle ;
 
}

.profile-picture{
  border-radius: 50px;
  width: 100%;
}

.searchbar{
    font-size: 20px;
    margin-right: 12px;
    border:no1pxne;
    transition: box-shadow 0.2s;
    
    margin-top: 10px;
    display: block;
}


  .channel-picture{
    
    
  
  }
  .video-info{
 
  }

  .titl{
    width: 100%;
    margin-top: 0px;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .thumbnaill{
    margin-bottom: 12px;

  }

  p{
    font-family: roboto,arial;
  }

  .video-grids{
    display: grid;
    grid-template-columns: 50px 1fr;
  }